/* Header */
header{
    display: flex;
    background-color: rgb(163, 147, 147);
    top: 0;
    width: 1366px;
    padding: 5px;
    position: fixed;
    height: 80px;
    z-index: 1;
}
img{
    margin-left: 2vh;
    margin-top: 9px;
    height: 50px;
}
ul{
    list-style-type:none;
    font-size: 14pt;
}
li{
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}
a{text-decoration: none;}
.kanan{margin-right: 2vh;}
.log-reg{margin-left: 750px;}
.changePassword{
    margin-left: 300px;
    margin-top: -20px;
}
.logout{margin-left: 20px;}
/* Footer */
h5 {
    text-align: center;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    height: 51px;
    justify-content: center;
    align-items: center;
}  